.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Kaushan Script', handwriting;
  font-size: 4.8rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 6rem;
}
.display-2 {
  font-family: 'Kaushan Script', handwriting;
  font-size: 1.4rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-4 {
  font-family: 'Kaushan Script', handwriting;
  font-size: 1.6rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 2rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-7 {
  font-family: 'Alfa Slab One', display;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.84rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.36rem;
    font-size: calc( 2.33rem + (4.8 - 2.33) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.33rem + (4.8 - 2.33) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #6592e6;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: #2260d2 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ff6666;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: #ff0f0f !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Kaushan Script', handwriting;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 2rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Kaushan Script', handwriting;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 2rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-teC7hBpGuy {
  background-image: url("../../../assets/images/img-20211027-173652-1999x1500.jpeg");
}
.cid-teC7hBpGuy .mbr-fallback-image.disabled {
  display: none;
}
.cid-teC7hBpGuy .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-teC7hBpGuy .mbr-text,
.cid-teC7hBpGuy .mbr-section-btn {
  color: #ffffff;
}
.cid-teC7hBpGuy .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-teC8txHWRA {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-teC8txHWRA nav.navbar {
  position: fixed;
}
.cid-teC8txHWRA .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-teC8txHWRA .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-teC8txHWRA .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-teC8txHWRA .dropdown-item:hover,
.cid-teC8txHWRA .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-teC8txHWRA .dropdown-item:hover span {
  color: white;
}
.cid-teC8txHWRA .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-teC8txHWRA .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-teC8txHWRA .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-teC8txHWRA .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-teC8txHWRA .nav-link {
  position: relative;
}
.cid-teC8txHWRA .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-teC8txHWRA .container {
    flex-wrap: nowrap;
  }
}
.cid-teC8txHWRA .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-teC8txHWRA .dropdown-menu,
.cid-teC8txHWRA .navbar.opened {
  background: #ffffff !important;
}
.cid-teC8txHWRA .nav-item:focus,
.cid-teC8txHWRA .nav-link:focus {
  outline: none;
}
.cid-teC8txHWRA .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-teC8txHWRA .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-teC8txHWRA .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-teC8txHWRA .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-teC8txHWRA .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-teC8txHWRA .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-teC8txHWRA .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-teC8txHWRA .navbar.opened {
  transition: all 0.3s;
}
.cid-teC8txHWRA .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-teC8txHWRA .navbar .navbar-logo img {
  width: auto;
}
.cid-teC8txHWRA .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-teC8txHWRA .navbar.collapsed {
  justify-content: center;
}
.cid-teC8txHWRA .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-teC8txHWRA .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-teC8txHWRA .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.3rem);
  }
}
.cid-teC8txHWRA .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-teC8txHWRA .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-teC8txHWRA .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-teC8txHWRA .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-teC8txHWRA .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-teC8txHWRA .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-teC8txHWRA .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-teC8txHWRA .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-teC8txHWRA .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-teC8txHWRA .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-teC8txHWRA .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-teC8txHWRA .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-teC8txHWRA .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-teC8txHWRA .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-teC8txHWRA .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-teC8txHWRA .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-teC8txHWRA .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-teC8txHWRA .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-teC8txHWRA .navbar.navbar-short {
  min-height: 60px;
}
.cid-teC8txHWRA .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-teC8txHWRA .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-teC8txHWRA .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-teC8txHWRA .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-teC8txHWRA .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-teC8txHWRA .dropdown-item.active,
.cid-teC8txHWRA .dropdown-item:active {
  background-color: transparent;
}
.cid-teC8txHWRA .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-teC8txHWRA .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-teC8txHWRA .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-teC8txHWRA .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-teC8txHWRA .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-teC8txHWRA .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-teC8txHWRA ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-teC8txHWRA .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-teC8txHWRA button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-teC8txHWRA button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-teC8txHWRA button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-teC8txHWRA button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-teC8txHWRA button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-teC8txHWRA button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-teC8txHWRA nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-teC8txHWRA nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-teC8txHWRA nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-teC8txHWRA nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-teC8txHWRA .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-teC8txHWRA a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-teC8txHWRA .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-teC8txHWRA .navbar {
    height: 70px;
  }
  .cid-teC8txHWRA .navbar.opened {
    height: auto;
  }
  .cid-teC8txHWRA .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-teCoz0RWiq {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-image: url("../../../assets/images/background1-1.jpeg");
}
.cid-teCoz0RWiq .mbr-fallback-image.disabled {
  display: none;
}
.cid-teCoz0RWiq .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-teCnQrDDJy {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-teCnQrDDJy .mbr-fallback-image.disabled {
  display: none;
}
.cid-teCnQrDDJy .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-teCnQrDDJy .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-teCnQrDDJy .row {
  flex-direction: row-reverse;
}
.cid-teCnQrDDJy img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-teCnQrDDJy .text-wrapper {
    padding: 2rem;
  }
}
.cid-teCxalmhvT {
  padding-top: 4rem;
  padding-bottom: 0rem;
  background-color: #bed3f9;
}
.cid-teCxalmhvT .line {
  background-color: #4479d9;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-teCtJq7Hab {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #bed3f9;
}
.cid-teCtJq7Hab img,
.cid-teCtJq7Hab .item-img {
  width: 100%;
}
.cid-teCtJq7Hab .item:focus,
.cid-teCtJq7Hab span:focus {
  outline: none;
}
.cid-teCtJq7Hab .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-teCtJq7Hab .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-teCtJq7Hab .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-teCtJq7Hab .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-teCtJq7Hab .mbr-section-btn {
  margin-top: auto !important;
}
.cid-teCtJq7Hab .mbr-section-title {
  color: #232323;
}
.cid-teCtJq7Hab .mbr-text,
.cid-teCtJq7Hab .mbr-section-btn {
  text-align: left;
}
.cid-teCtJq7Hab .item-title {
  text-align: left;
}
.cid-teCtJq7Hab .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-teCHzNztqF {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-teCHzNztqF .line {
  background-color: #6592e6;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-teCypPwxDH {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/mbr-3-1920x1346.png");
}
.cid-teCypPwxDH .mbr-overlay {
  background: #fafafa;
  opacity: 0.6;
}
.cid-teCypPwxDH img,
.cid-teCypPwxDH .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-teCypPwxDH .item:focus,
.cid-teCypPwxDH span:focus {
  outline: none;
}
.cid-teCypPwxDH .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-teCypPwxDH .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-teCypPwxDH .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-teCypPwxDH .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-teCypPwxDH .mbr-section-btn {
  margin-top: auto !important;
}
.cid-teCypPwxDH .mbr-section-title {
  color: #232323;
}
.cid-teCypPwxDH .mbr-text,
.cid-teCypPwxDH .mbr-section-btn {
  text-align: left;
}
.cid-teCypPwxDH .item-title {
  text-align: center;
}
.cid-teCypPwxDH .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-teCCnHr8gQ {
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/mbr-2-1920x1346.png");
}
.cid-teCCnHr8gQ .mbr-overlay {
  background: #fafafa;
  opacity: 0.6;
}
.cid-teCCnHr8gQ img,
.cid-teCCnHr8gQ .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-teCCnHr8gQ .item:focus,
.cid-teCCnHr8gQ span:focus {
  outline: none;
}
.cid-teCCnHr8gQ .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-teCCnHr8gQ .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-teCCnHr8gQ .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-teCCnHr8gQ .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-teCCnHr8gQ .mbr-section-btn {
  margin-top: auto !important;
}
.cid-teCCnHr8gQ .mbr-section-title {
  color: #232323;
}
.cid-teCCnHr8gQ .mbr-text,
.cid-teCCnHr8gQ .mbr-section-btn {
  text-align: left;
}
.cid-teCCnHr8gQ .item-title {
  text-align: center;
}
.cid-teCCnHr8gQ .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-teD1dWnYRg {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-teD1dWnYRg .mbr-fallback-image.disabled {
  display: none;
}
.cid-teD1dWnYRg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-teD1dWnYRg .nav-tabs .nav-item.open .nav-link:focus,
.cid-teD1dWnYRg .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-teD1dWnYRg .nav-tabs {
  flex-wrap: wrap;
  border-bottom: 1px solid #40b0bf;
}
@media (max-width: 767px) {
  .cid-teD1dWnYRg .nav-item {
    width: 100%;
    margin: 0;
  }
}
.cid-teD1dWnYRg .nav-tabs .nav-link {
  transition: all .5s;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0 !important;
}
.cid-teD1dWnYRg .nav-tabs .nav-link:not(.active) {
  color: #000000;
}
.cid-teD1dWnYRg .nav-tabs .nav-item {
  margin-right: 1.5rem;
}
.cid-teD1dWnYRg .nav-link,
.cid-teD1dWnYRg .nav-link.active {
  padding: 1rem 0;
  background-color: transparent;
}
.cid-teD1dWnYRg .nav-tabs .nav-link.active {
  color: #40b0bf;
  border-bottom: 3px solid #40b0bf;
}
.cid-teD1dWnYRg H4 {
  text-align: center;
}
.cid-teD1dWnYRg H3 {
  text-align: center;
}
.cid-teCVeYBz11 {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/mbr-1920x1117.jpg");
}
.cid-teCVeYBz11 .mbr-fallback-image.disabled {
  display: none;
}
.cid-teCVeYBz11 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-teCVeYBz11 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-teCVeYBz11 img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-teCVeYBz11 .text-wrapper {
    padding: 2rem;
  }
}
.cid-teD0hGFN7M {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-teD0hGFN7M .mbr-fallback-image.disabled {
  display: none;
}
.cid-teD0hGFN7M .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-teD0hGFN7M .nav-tabs .nav-item.open .nav-link:focus,
.cid-teD0hGFN7M .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-teD0hGFN7M .nav-tabs {
  flex-wrap: wrap;
  border-bottom: 1px solid #40b0bf;
}
@media (max-width: 767px) {
  .cid-teD0hGFN7M .nav-item {
    width: 100%;
    margin: 0;
  }
}
.cid-teD0hGFN7M .nav-tabs .nav-link {
  transition: all .5s;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0 !important;
}
.cid-teD0hGFN7M .nav-tabs .nav-link:not(.active) {
  color: #000000;
}
.cid-teD0hGFN7M .nav-tabs .nav-item {
  margin-right: 1.5rem;
}
.cid-teD0hGFN7M .nav-link,
.cid-teD0hGFN7M .nav-link.active {
  padding: 1rem 0;
  background-color: transparent;
}
.cid-teD0hGFN7M .nav-tabs .nav-link.active {
  color: #40b0bf;
  border-bottom: 3px solid #40b0bf;
}
.cid-teD0hGFN7M H4 {
  text-align: center;
}
.cid-teD0hGFN7M H3 {
  text-align: center;
}
.cid-teCJss4rQ5 {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-image: url("../../../assets/images/mbr-2-1920x1280.jpg");
}
.cid-teCJss4rQ5 .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.3;
}
.cid-teCJss4rQ5 form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-teCJss4rQ5 form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-teCJss4rQ5 form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-teCJss4rQ5 .mbr-section-title {
  color: #e43f3f;
}
.cid-teD0KbkcR2 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-teD0KbkcR2 .mbr-fallback-image.disabled {
  display: none;
}
.cid-teD0KbkcR2 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-teD0KbkcR2 .nav-tabs .nav-item.open .nav-link:focus,
.cid-teD0KbkcR2 .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-teD0KbkcR2 .nav-tabs {
  flex-wrap: wrap;
  border-bottom: 1px solid #2299aa;
}
@media (max-width: 767px) {
  .cid-teD0KbkcR2 .nav-item {
    width: 100%;
    margin: 0;
  }
}
.cid-teD0KbkcR2 .nav-tabs .nav-link {
  transition: all .5s;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0 !important;
}
.cid-teD0KbkcR2 .nav-tabs .nav-link:not(.active) {
  color: #000000;
}
.cid-teD0KbkcR2 .nav-tabs .nav-item {
  margin-right: 1.5rem;
}
.cid-teD0KbkcR2 .nav-link,
.cid-teD0KbkcR2 .nav-link.active {
  padding: 1rem 0;
  background-color: transparent;
}
.cid-teD0KbkcR2 .nav-tabs .nav-link.active {
  color: #2299aa;
  border-bottom: 3px solid #2299aa;
}
.cid-teD0KbkcR2 H4 {
  text-align: center;
}
.cid-teD0KbkcR2 H3 {
  text-align: center;
}
.cid-teCR5QZENH {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/mbr-1920x1920.png");
}
.cid-teCR5QZENH .mbr-fallback-image.disabled {
  display: none;
}
.cid-teCR5QZENH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-teCR5QZENH .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #6592e6;
  margin-left: 1rem;
}
.cid-teCR5QZENH .panel-group {
  border: none;
}
.cid-teCR5QZENH .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-teCR5QZENH .panel-body,
.cid-teCR5QZENH .card-header {
  padding: 1rem 0;
}
.cid-teCR5QZENH .panel-title-edit {
  color: #000000;
}
.cid-teCR5QZENH .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-teCtOFTu1P {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: #ffffff;
}
.cid-teCtOFTu1P .mbr-fallback-image.disabled {
  display: none;
}
.cid-teCtOFTu1P .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 767px) {
  .cid-teCtOFTu1P .row {
    flex-direction: column-reverse;
  }
  .cid-teCtOFTu1P .row .map-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-teCtOFTu1P .google-map {
  height: 100%;
  position: relative;
}
.cid-teCtOFTu1P .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-teCtOFTu1P .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-teCtOFTu1P .google-map[data-state] {
  background: #e9e5dc;
}
.cid-teCtOFTu1P .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-teCtOFTu1P .image-wrapper {
  display: flex;
  align-items: center;
}
.cid-teCtOFTu1P .card-wrapper {
  display: flex;
  border-radius: 4px;
  background: #fafafa;
}
.cid-teCtOFTu1P .card-wrapper:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
@media (max-width: 991px) {
  .cid-teCtOFTu1P .card-wrapper {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .cid-teCtOFTu1P .card-wrapper {
    padding: 2rem 4rem;
  }
}
.cid-teCtOFTu1P .mbr-iconfont {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: #6592e6;
}
.cid-teCtOFTu1P P {
  color: #4479d9;
}
.cid-teDbnT6geH {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #fafafa;
}
.cid-teDbnT6geH .mbr-fallback-image.disabled {
  display: none;
}
.cid-teDbnT6geH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-teDbnT6geH .list-group-item {
  background-color: transparent;
  padding: .5rem 3.25rem;
}
.cid-teDbnT6geH .plan-body {
  padding-bottom: 2rem;
}
.cid-teDbnT6geH .plan-header {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-teDbnT6geH .price {
  color: #6592e6;
}
.cid-teDbnT6geH .plan {
  word-break: break-word;
  background-color: #ffffff;
}
.cid-teDbnT6geH .plan .list-group-item {
  position: relative;
  justify-content: center;
  border: 0;
}
.cid-teDbnT6geH .plan .list-group-item::after {
  position: absolute;
  bottom: 1px;
  left: 25%;
  width: 50%;
  height: 1px;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
}
.cid-teDbnT6geH .plan .list-group-item:last-child::after {
  display: none;
}
@media (max-width: 991px) {
  .cid-teDbnT6geH .plan {
    margin-bottom: 2rem;
  }
}
.cid-teCtSGTl4B {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/mbr-1920x1440.jpg");
}
.cid-teCtSGTl4B .mbr-fallback-image.disabled {
  display: none;
}
.cid-teCtSGTl4B .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-teCtSGTl4B .bg-facebook {
  background: #1778f2;
  color: #ffffff;
}
.cid-teCtSGTl4B .bg-facebook:hover {
  background: #0b60cb;
}
.cid-teCtSGTl4B .bg-instagram {
  background: #f00075;
  color: #ffffff;
}
.cid-teCtSGTl4B .bg-instagram:hover {
  background: #bd005c;
}
.cid-teCtSGTl4B .iconfont-wrapper {
  display: inline-block;
  font-size: 32px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.cid-teCtSGTl4B [class^="socicon-"]:before,
.cid-teCtSGTl4B [class*=" socicon-"]:before {
  line-height: 55px;
  padding: .6rem;
}
.cid-teCNaJGUuU {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-teCNaJGUuU .fb-page,
.cid-teCNaJGUuU span,
.cid-teCNaJGUuU iframe {
  width: 500px;
  height: 470px;
}
.cid-teCNaJGUuU blockquote {
  display: none;
}
.cid-teCNaJGUuU .fb-page {
  background-color: #1877f2;
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMinYMin meet' viewBox='0 0 262 266.895'><path id='path3087' fill='%23fff' d='M182.409,262.307v-99.803h33.499l5.016-38.895h-38.515V98.777c0-11.261,3.127-18.935,19.275-18.935 l20.596-0.009V45.045c-3.562-0.474-15.788-1.533-30.012-1.533c-29.695,0-50.025,18.126-50.025,51.413v28.684h-33.585v38.895h33.585 v99.803H182.409z'></path></svg>");
}
